<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <link rel="preload" href="fonts/opensans.woff" as="font">
    <link rel="preload" href="fonts/opensans.woff2" as="font">
    <link rel="preload" href="fonts/opensanslight.woff" as="font">
    <link rel="preload" href="fonts/opensanslight.woff2" as="font">
    <link rel="preload" href="fonts/opensansbold.woff" as="font">
    <link rel="preload" href="fonts/opensansbold.woff2" as="font">
    <title>Document</title>
    <% if (htmlWebpackPlugin.options.inject === false)
      { %> <link rel="stylesheet" href="css/styles.css"> <% }
    %>
  </head>
  <body>
    <header></header>
    <main>
      <div class="main-wrapper">
        <div class="block">
          <img src="images/content/test.png" alt="car">
        </div>
        <svg class="svg-sprite">
          <use xlink:href="images/sprite.svg#icon-swarm"></use>
        </svg>
        <svg class="svg-sprite">
          <use xlink:href="images/sprite.svg#icon-facebook"></use>
        </svg>
        <button class="button button--open">Open modal</button>
      </div>
    </main>
    <footer>

    </footer>

    <section class="modal modal--closed">
      <div class="modal__overlay"></div>
      <div class="modal__body">
        <h2 class="modal__title">Modal title</h2>
        <p class="modal__text">Modal text</p>
        <button class="button button--close">Close</button>
      </div>
    </section>

    <% if (htmlWebpackPlugin.options.inject === false)
      { %> <script src="js/index.js"></script> <% }
    %>
  </body>
</html>
