.block {
  background-image: url("~$images/decoration/test.jpg");

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 50px;
    height: 50px;

    background-image: url("~$images/decoration/icon-google-plus.svg");
  }
}

.block1 {
  display: flex;

  width: 100px;
  height: 100px;
  padding: 1px;

  background-image:
    linear-gradient(
      0.2turn,
      #ff0000 0%,
      $secondary-color 30.55%,
    );
}

.block__input {
  &--colored {
    background-color: rgb(240, 183, 26);
    border: 3px solid tint-func($color: hsl(239, 78%, 57%), $percentage: 50%);
  }
}
