@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

.block {
  background-image: url("~$images/decoration/test.jpg");
}

.block > span {
  color: rgb(158, 49, 49);
}

h1 {
  position: absolute;
  font-family: "Open Sans", serif;
  color: rgb(38, 196, 169);
}

/* this is comment */

p {
  position: relative;
  display: block;
  height: 100px;

  /* fdf */

  color: rgb(0, 255, 85);
  font-size: 16px;;
  /* font-size: 1rem; */
}

p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;

  display: block;
  width: 50px;
  height: 50px;
}

.svg_sprite {
  width: calc(100%);
  fill: #35b6f1 !important;
}

.svg_sprite:hover {
  fill: #35f15e;
}

.block1 {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 1px 1px;

  background-image: linear-gradient(0.24turn, #ff0000, 10.55%, #0000ff);
  border-radius: 50%;

  -o-animation: 0ms;
  animation: anim-round 0.52s linear;
  animation-fill-mode: inherit;
  animation-iteration-count: infinite;
}

.fff span {
  color: #000555;
}

a {
  p {
    color: #555555;
  }
}

@keyframes anim-round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
