$text-main-color: #323232;
$text-secondary-color: #6e6e6e;
$link-main-color: #4501ff;
$bg-main-color: rgb(33, 33, 33);
$bg-darker-color: rgb(18, 16, 14);
$overlay-color: rgba(50, 50, 50, 0.3);
$primary-color: rgb(64, 196, 255);
$secondary-color: rgb(2, 87, 154);
