.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.box-sizing-content {
  box-sizing: content-box;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100vw;
  height: 100vh;

  &--active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 95;

  width: 100%;
  height: 100%;

  background-color: $overlay-color;

  opacity: 0.3;
}

.modal__body {
  position: relative;
  z-index: 100;

  padding: 10px;

  text-align: center;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .modal__body {
    background-color: #a7ec58;
  }
}

@media (min-width: $desktop-width) {
  .modal__body {
    background-color: #975b5b;
  }
}
